@model IEnumerable<InventarioLote.ProductoLote>

@{
    ViewBag.Title = "Index";
}

<h2>LISTA LOTES</h2>

<p>
    @Html.ActionLink("NUEVO", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductoLoteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.Producto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductoLoteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.Producto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductoLoteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductoLoteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductoLoteId })
        </td>
    </tr>
}

</table>
