@model InventarioLote.Movimientos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movimientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductoLote.ProductoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductoLote.ProductoId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovimientoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
